.pop-in {
    width: 50%;
    height: 500px;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 15px;
    background-color: $color-green;
    color: $color-white;
    text-align: center;
    overflow-x: hidden;
    -webkit-animation: pop-in 1s forwards;
    animation: pop-in 1s forwards;
    -ms-transform: scale(.9, .9);
    -webkit-transform: scale(.9, .9);
    transform: scale(.9, .9); // Customize effect
    overflow: auto;
    padding: 100px;
    @keyframes pop-in {
        100% {
            -ms-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
    @-webkit-keyframes pop-in {
        100% {
            -ms-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
}

.pop-out {
    width: 50%;
    height: 500px;
    float: left;
    position: relative;
    text-align: center;
    color: $color-white;
    background-color: $color-green;
    -webkit-animation: pop-out 1s forwards;
    animation: pop-out 1s forwards;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    @keyframes pop-out {
        100% {
            -ms-transform: scale(.9, .9);
            -webkit-transform: scale(.9, .9);
            transform: scale(.9, .9); // Customize effect
        }
    }
    @-webkit-keyframes pop-out {
        100% {
            -ms-transform: scale(.9, .9);
            -webkit-transform: scale(.9, .9);
            transform: scale(.9, .9); // Customize effect
        }
    }
}